html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding:0;
  margin:0;
}

h2 {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 800;
}

img {
  max-width: 100%;
}

input::placeholder {
  color: black;
}

nav {
  margin: 0 50px;
}

p {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

textarea:focus, input:focus{
  outline: none;
}

.ac-card-wrapper {
  color: black;
  text-decoration: none;
}

.acmdtns-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: white;
  border-radius: 15px;
}

.acmdtns-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
}

.acmdtns-pic {
  height: 90px;
  overflow: hidden;
  display: inline-block;
  object-fit: cover;
  margin: 5px 5px 0 5px;
  border-radius: 10px 10px 0 0;
}

.acmdtns-stars {
  font-size: 14px;
  margin: 7px 15px;
}

.ac-card-desc {
  margin: 0 15px;
}

.ac-card-title {
  font-weight: bold;
  margin: 7px 15px;
}

.filter-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 11px;
  padding-left: 17px;
  padding-right: 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: #f2f2f2;
  border-width: 2px;
  background-color: white;
  height: 40px;
  position: relative;
  width: max-content;
}

.filter-btn:hover {
  background-color: #0065FC;
  color: white;
  cursor: pointer;
}

.filter-icon.fa-stack {
  font-size: 20px;
  position: absolute;
  left: -7px;
}

.filter-text {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 800;
  margin-left: 36px;
  margin-right: 10px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-black {
  color: black;
}

.icon-blue {
  color: #0065fc;
}

.icon-grey {
  color: #f2f2f2;
}

.icon-light-blue {
  color: #deebff;
}

.logo {
  margin: 30px 40px;
}

.most-pop-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 100%;
}

.most-pop-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

.most-pop-pic {
  margin: 5px;
  border-radius: 10px 0 0 10px;
  height: 100px;
  width: 30%;
  overflow: hidden;
  object-fit: cover;
}

.most-pop-stars {
  font-size: 14px;
  margin: 20px 10px 10px 10px;
}

.nav-btn {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 44px 20px;
  color: black;
  text-decoration: none;
  margin: 0 10px;
  border-top: 5px solid transparent;
}
.nav-btn:hover {
  color: #0065FC;
  border-top: 5px solid #0065FC;
  cursor: pointer;
}

.pop-card-desc {
  margin: 5px 10px;
}

.pop-card-title {
  margin: 10px 15px 0 10px;
  font-weight: bold;
  height: 28px;
}

.pop-card-wrapper {
  color: black;
  text-decoration: none;
  height: 30%;
}

.pop-img {
  overflow: hidden; 
  width: 130px;
  height: 150px;
  display: inline-block;
}

.pop-img > img {
  object-fit: cover;
}

.search-filter {
  margin: 5px 40px;
}

#accommodations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 60%;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 25px;
  gap: 15px;
}

#acmdtnsCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-height: 70%;
}

#acmdtnsMostpopSec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  max-width: 100%;
}

#filterButtons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#filterLabel {
  margin-right: 15px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 800;
}

#filterSec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

#infoIcon.fa-stack {
  font-size: 12px;
  margin-right: 5px;
  margin-left: 0;
}

#infoSec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#mostPopHeading { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#mostPopular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 30%;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 25px;
  gap: 15px;
}

#searchBar {
  margin: -4px;
  height: 42px;
  border-radius: 0;
  border-width: 1px 0 1px 0;
  border-color: #f2f2f2;
  padding: 15px;
  border-style: solid;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 800;
}

#searchHeader {
  margin-bottom: 0;
  line-height: .5;
}

#searchIcon{
  display: none;
}

#searchLabel {
  background-color: #f2f2f2;
  height: 42px;
  padding: 12px 15px;
  border-radius: 12px 0 0 12px;
}

#searchText {
  display: block;
}

#showMore {
  font-weight: bold;
}

#submitBtn {
  height: 42px;
  border-radius: 0 12px 12px 0;
  border: none;
  background-color:#0065FC;
  padding: 12px 15px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: white;
}
#submitBtn:hover {
  cursor: pointer;
}


@media (max-width: 768px)
{
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  nav {
    margin: 0;
    width: 100%;
  }

  p {
    font-size: 16px;
  }

  .filter-btn {
    margin: 0 0 20px 0;
    border-radius: 30px;
    height: 56px;
  }

  .filter-icon.fa-stack {
    font-size: 28px;
    left: -9px;
  }

  .filter-text {
    font-size: 20px;
    margin-left: 62px;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: 30px 70px;
  }

  .nav-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-btn {
    width: 50%;
    text-align: center; 
    font-size: 18px;
    padding: 10px 0;
    margin: 0 auto;
    border-top: none;
    border-bottom: 3px solid transparent;
  }

  .nav-btn:hover {
    border-top: none;
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
  }

  #filterButtons {
    justify-content: space-between;
    align-content: stretch;
    width: 100%;
  }

  #filterLabel {
    font-size: 20px;
  }

  #filterSec {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
  }

  #infoSec {
    align-items: flex-start;
  }
  #infoText {
    margin: 0 0 0 15px;
  }

  #searchBar {
    width: 100%;
    height: 50px;
    font-size: 20px;
  }

  #searchHeader {
    line-height: 1.2;
  }

  #searchIcon {
    display: block;
  }

  #searchLabel {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    font-size: 17px;
  }

  #searchSec {
    margin-top: 30px;
  }

  #searchText {
    display: none;
  }

  #submitBtn {
    border-radius: 12px;
    padding: 0 20px;
    height: 50px;
    font-size: 17px;
  }
}  